CalculatorTest/CalculatorTest.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CalculatorTest/CalculatorTest.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CalculatorTest/CalculatorTest.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CalculatorTest/CalculatorTest.Tests/obj/Debug/CalculatorTest.Tests.pdb
CalculatorTest/CalculatorTest.Tests/obj/Debug/CalculatorTest.Tests.dll
CalculatorTest/CalculatorTest.Tests/obj/Debug/CalculatorTest.Tests.csprojAssemblyReference.cache
CalculatorTest/CalculatorTest.Tests/obj/Debug/CalculatorTest.Tests.csproj.FileListAbsolute.txt
CalculatorTest/CalculatorTest.Tests/obj/Debug/CalculatorTest.Tests.csproj.CoreCompileInputs.cache
CalculatorTest/CalculatorTest.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CalculatorTest/CalculatorTest.Tests/obj/Debug/CalculatorTest.Tests.csproj.CopyComplete
CalculatorTest/CalculatorTest.Lib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CalculatorTest/CalculatorTest.Lib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CalculatorTest/CalculatorTest.Lib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CalculatorTest/CalculatorTest.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CalculatorTest/CalculatorTest.Lib/obj/Debug/CalculatorTest.Lib.pdb
CalculatorTest/CalculatorTest.Lib/obj/Debug/CalculatorTest.Lib.dll
CalculatorTest/CalculatorTest.Lib/obj/Debug/CalculatorTest.Lib.csprojAssemblyReference.cache
CalculatorTest/CalculatorTest.Lib/obj/Debug/CalculatorTest.Lib.csproj.FileListAbsolute.txt
CalculatorTest/CalculatorTest.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CalculatorTest/CalculatorTest.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CalculatorTest/CalculatorTest.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CalculatorTest/CalculatorTest.Data/obj/Debug/TempPE/DbModel.cs.dll
CalculatorTest/CalculatorTest.Data/obj/Debug/TempPE/DbModel.Designer.cs.dll
CalculatorTest/CalculatorTest.Data/obj/Debug/TempPE/DbModel.Context.cs.dll
CalculatorTest/CalculatorTest.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CalculatorTest/CalculatorTest.Data/obj/Debug/CalculatorTest.Data.pdb
CalculatorTest/CalculatorTest.Data/obj/Debug/CalculatorTest.Data.dll
CalculatorTest/CalculatorTest.Data/obj/Debug/CalculatorTest.Data.csprojAssemblyReference.cache
CalculatorTest/CalculatorTest.Data/obj/Debug/CalculatorTest.Data.csproj.FileListAbsolute.txt
CalculatorTest/CalculatorTest.Data/obj/Debug/CalculatorTest.Data.csproj.CoreCompileInputs.cache
CalculatorTest/CalculatorTest.Data/obj/Debug/CalculatorTest.Data.csproj.CopyComplete
CalculatorTest/CalculatorTest.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CalculatorTest/CalculatorTest.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CalculatorTest/CalculatorTest.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CalculatorTest/CalculatorTest.Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CalculatorTest/CalculatorTest.Client/obj/Debug/CalculatorTest.Client.pdb
CalculatorTest/.vs/CalculatorTest/v15/Server/sqlite3/storage.ide-wal
CalculatorTest/.vs/CalculatorTest/v15/Server/sqlite3/storage.ide-shm
CalculatorTest/.vs/CalculatorTest/v15/Server/sqlite3/storage.ide
CalculatorTest/.vs/CalculatorTest/v15/Server/sqlite3/db.lock
CalculatorTest/.vs/CalculatorTest/v15/.suo
CalculatorTest/.vs/CalculatorTest/v14/.suo
CalculatorTest/.vs/CalculatorTest/DesignTimeBuild/.dtbcache
CalculatorTest/CalculatorTest.Lib/obj/Debug/CalculatorTest.Lib.csproj.CoreCompileInputs.cache
CalculatorTest/CalculatorTest.Lib/obj/Debug/CalculatorTest.Lib.csproj.CopyComplete
CalculatorTest/CalculatorTest.Client/obj/Debug/CalculatorTest.Client.exe
CalculatorTest/CalculatorTest.Client/obj/Debug/CalculatorTest.Client.csprojAssemblyReference.cache
CalculatorTest/CalculatorTest.Client/obj/Debug/CalculatorTest.Client.csproj.FileListAbsolute.txt
CalculatorTest/CalculatorTest.Client/obj/Debug/CalculatorTest.Client.csproj.CoreCompileInputs.cache
CalculatorTest/CalculatorTest.Client/obj/Debug/CalculatorTest.Client.csproj.CopyComplete
CalculatorTest/CalculatorTest.Api/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CalculatorTest/CalculatorTest.Api/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CalculatorTest/CalculatorTest.Api/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CalculatorTest/CalculatorTest.Api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CalculatorTest/CalculatorTest.Api/obj/Debug/CalculatorTest.Api.pdb
CalculatorTest/CalculatorTest.Api/obj/Debug/CalculatorTest.Api.dll
CalculatorTest/CalculatorTest.Api/obj/Debug/CalculatorTest.Api.csprojAssemblyReference.cache
CalculatorTest/CalculatorTest.Api/obj/Debug/CalculatorTest.Api.csproj.FileListAbsolute.txt
CalculatorTest/CalculatorTest.Api/obj/Debug/CalculatorTest.Api.csproj.CoreCompileInputs.cache
CalculatorTest/CalculatorTest.Api/obj/Debug/CalculatorTest.Api.csproj.CopyComplete
